
<section class="mode-container group my-12">
  <div class="lite-content block group-[.is-think]:hidden animate-fade-in">
    <slot name="lite" />
  </div>

  <div class="think-content hidden group-[.is-think]:block animate-slide-up">
    <slot name="think" />
  </div>
</section>
