
---
// src/components/HandwrittenNote.astro
---
<div class="absolute top-4 left-4 -rotate-3 p-4 bg-yellow-100/80 shadow-lg max-w-xs z-20">
    <p class="font-['Caveat',cursive] text-lg text-slate-700">
        "Если этот сайт поможет спасти хотя бы одну семью, то я не зря потратил время."
    </p>
</div>
